.card {
  height: 20%;
  border-color: #b2bec3;
  margin-left: 1rem;
  margin-top: 1rem;
}
.but {
  background: #2d3436;
  text-decoration: none;
  border: none;
}

.group-but {
  height: 3rem;
  border-top: 1px solid;
  border-color: #b2bec3;
}

.but a {
  color: white;
}
.titre {
  font-size: 2em;
}
#but-arrow {

  font-size: 50px;
}


/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: #000;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #4CAF50;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.collapse {
  transition: 2s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}


.dropbtn {
  color: white;
}

a:not([href]):not([tabindex]) {
  color: white;
}
